body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;  
    font-family: "PT SANS", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff; 
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1200px;
    box-shadow: 0px 0px 5px 5px #f2f2f2;
}

.main-header {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    min-height: 71px;
    width: 1200px;
    background-color: #ffffff;
}

.main-navigation {
    width: 1200px;
    min-height: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    
}

.main-header-logo {
    width: 140px;
    height: 72px;
    order: 2;
    margin-top: -56px;
}

.site-nav-wrapper {
    background-color: #ffffff;
    min-width: 56px;
}

.site-nav {
    width: 1200px;
    min-width: 56px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.block1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 240px;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    padding-top: 14px;
}



.site-nav li:nth-child(2) {
   margin-right: auto;
}

.site-nav li:nth-child(3) {
    box-sizing: border-box;
    padding-left: 4px;
    
}

.site-nav li:nth-child(4) {
    box-sizing: border-box;
    padding-left: 16px;
}

.site-nav a {
    color: #000000;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

.site-nav a:hover {
    color: #81b3d2;
}

.site-nav a:focus {
    color: #cacaca;
}

.block1 a.block2  {
    color: #766357;
    cursor: not-allowed;
}

.block1 a.block2:hover   {
    color: #766357;
    cursor: not-allowed;
}

.block1 a.block2:focus   {
    color: #766357;
    cursor: not-allowed;
}

.main-one-background {
    text-align: center;
    background-color: #d9eaf2;
    background-image: url("../img/background-photo.jpg");
    background-position: 50% 110%;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 26px;
    width: 1200px;
    min-height: 723px;
    margin-top: -15px;
}

.welcom {
    position: relative;
    display: block;
    width: 1200px;
    min-height: 432px;
    padding-top: 75px;
}

.welcom::after {
    content: url("../img/intro-mask.svg");
    position: absolute;
    display: block;
    width: 1200px;
    min-height: 59px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.main-one-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    padding-top: 1px;
    width: 1200px;
    min-height: 216px;
    text-align: center;
}

.main-one-info p:nth-child(1) {
    margin-top: 60px;
    margin-left: 380px;
    margin-right: 380px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.main-one-info p:nth-child(2) {
    font-weight: 400;
    margin-bottom: 57px;
    margin-top: 28px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
}

.section-city {
    width: 1200px;
    min-height: 256px;
    display: flex;
}

.city {
    width: 308px;
    min-height: 183px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    padding-top: 33px;
    padding-bottom: 40px;
    padding-left: 46px;
    padding-right: 46px;
} 

.city h2 {
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.city p {
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.city-img {
    width: 800px;
    height: auto;
    background-image: url(../img/city.jpg);
    background-color: #c6cfbc;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: 30% 52%;
}

.section-description {
    width: 1200px;
    min-height: 330px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 60px;
    margin: 0;
}

.description {
    list-style: none;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0;
}

.description li {
    width: 400px;
    min-height: 256px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
}

.description-text {
    margin-top: 24px;
    margin-left: 47px;
    width: 304px;
    min-height: 84px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
} 

.description-text-1 {
    margin-top: 19px;
    margin-left: 47px;
    width: 304px;
    min-height: 84px;
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
} 

.description-text h3,
.description-text-1 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 24px;
}

.bridge {
    width: 1200px;
    min-height: 256px;
    display: flex;
    margin-bottom: 0px;
}

.bridge-img {
    width: 800px;
    height: auto;
    background-image: url("../img/bridge.jpg");
    background-color: #698494;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    background-position: 30% 52%;
}

.bridge-text {
    width: 304px;
    min-height: 166px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    padding-top: 49px;
    padding-bottom: 41px;
    padding-left: 48px;
    padding-right: 48px;
}

.bridge-text h2 {
    margin-left: 76px;
    margin-right: 77px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.bridge-text p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.section-description-down {
    width: 1200px;
    min-height: 256px;
    text-align: center;
    margin-top: 0px;
    background-color: #eeeeee;
}

.description-down {
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.description-down li {
    width: 400px;
    min-height: 206px;
    text-align: center;
    margin-top: 16px;
}

.description-down h3 {
    background-color: #eeeeee;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
}

.description-down-text-1 p {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.description-down-text-1 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.description-down-text-2 p {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.description-down-text-2 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}    

.description-down-text-3 p {
    margin-left: 71px;
    margin-right: 71px;
    margin-top: 23px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.description-down-text-3 h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.section-search {
    width: 1200px;
    min-height: 290px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    padding-top: 51px;
    text-align: center;
}

.search {
    min-height: 96px;
    text-align: center;
    margin-left: 281px;
    margin-right: 282px; 
}

.search h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.search p {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.button-search {
    display: inline-block;
    padding: 29px 138px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 0;
    color: #ffffff;
    background-color: #766357;
    border: 1px solid transparent;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.button-search:hover {
    color: #ffffff;
    background-color: #604e43;
}
.button-search:focus {
    color: #928a85;
    background-color: #503e33;
}

.modal {
    position: absolute;
    left: 50%;
    width: 567px;
    min-height: 395px;
    margin-left: -284px;
    color: #000000;
    background-color: #ffffff;
}

.modal-close {
    display: none;
}

.date {
    position: relative;
    height: 158px;
}

.date-1 {
    position: absolute;
    top: 57px;
    left: 55px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.date-2 {
    position: absolute;
    top: 123px;
    left: 55px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.date .date-arrival {
    margin-left: 21px;
    font-size: 14px;
    font-weight: bold;
}

.date .date-departure {
    margin-left: 18px;
    font-size: 14px;
    font-weight: bold;
}

.date input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 13px;
    padding-right: 40px;
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.date input:hover {
    background-color: #ebebeb;
}

.date input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.calendar {
    position: absolute;
    cursor: pointer;
    top: 62px;
    right: 57px;
    border: none;
}

.calendar2 {
    position: absolute;
    cursor: pointer;
    top: 129px;
    right: 57px;
    border: none;
}

.calendar:hover path,
.calendar2:hover path {
    fill: #000000;
}

.calendar:focus path,
.calendar2:focus path {
    fill: #81b3d2;
}

.container-modal {
    display: flex;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 57px;
}

.adults,
.kids {
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 6px;
    width: 230px;
    height: 38px;
}
.adults-text {
    margin-right: 40px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.kids-text {
    margin-right: 26px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.kids {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 50px;
}

.container-results {
    display: flex;
    width: 114px;
    height: 38px;
}

.container-modal-results {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 38px;
    height: 38px;
    text-align: center;
    
}

.container-modal-results .minus {
    position: relative;
    padding: 19px 19px;
    background-color: #f2f2f2;
    border: transparent;
    cursor: pointer;
}

.minus::before {
    content: "";
    width: 8px;
    position: absolute;
    left: 16px;
    top: 16px;
    border: 2px solid #a9a9a9;
}

.minus:hover:before {
    border: 2px solid #000000;
}

.minus:focus:before {
    border: 2px solid #81b3d2;
}

.center {
    box-sizing: border-box;
}

.center input {
    width: 38px;
    height: 38px;
    border: none;
    padding-left: 16px;
    padding-bottom: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
}

.container-modal-results .plus {
    position: relative;
    padding: 19px 19px;
    background-color: #f2f2f2;
    border: transparent;
    cursor: pointer;  
}


.plus::before,
.plus::after {
    content: "";
    width: 8px;
    position: absolute;
    left: 12px;
    top: 16px;
    border: 2px solid #a9a9a9;
}

.plus::after {
    transform: rotate(-90deg);
}

.plus:hover:before,
.plus:hover:after {
    border: 2px solid #000000;
}

.plus:focus:before,
.plus:focus:after {
    border: 2px solid #81b3d2;
}


.button-modal {
    display: block;
    width: 459px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
}

.button-modal:hover {
    background-color: #669ec0;
}

.button-modal:focus {
    background-color: #5496bd;
    color: #94b9d2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.search-catalog {
    width: 314px;
    height: 32px;
    border: 2px solid #ffffff;
}

.main-footer {
    width: 1200px;
    min-height: 115px;
    margin-top: 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 115px;
}

.visit {
    width: 400px;
    min-height: 115px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 27px;
}

.visit p:nth-child(1) {
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 6px;
    margin-bottom: 4px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.visit a {
    width: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 80px;
    color: #000000;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    width: 46px;
    height: 48px;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
}

.footer-social {
    text-align: center;
    width: 400px;
    justify-content: center;
}

.foter-social-container {
    display: flex;
    list-style: none;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 126px;
    margin-top: 31px;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:focus {
    background-color: #5496bd;
}

.social-button:hover path,
.social-button:focus path {
    fill: #88b6d1;
}

.footer-copyright {
    position: relative;
    width: 400px;
    min-height: 115px;
}

.website {
    position: absolute;
    width: 74px;
    height: 28px;
    top: 42px;
    left: 101px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.footer-logo {
    display: block;
    position: absolute;
    width: 115px;
    height: 45px;
    top: 36px;
    right: 102px;
    margin: 0;
    padding: 0;
}

.footer-logo:hover path {
    fill: #98c1da;
}

.footer-logo:focus path {
    fill: #c9c8c8;
}

/*Раздел с результатами поиска, где стоит цифра найденно*/

.filter {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 217px;
    background-image: url(../img/filter\ _background.jpg);
    background-color: #729abe;
    background-repeat: no-repeat;
    background-size: 100% 500px;
    background-position: 40% 15%;
    color: #ffffff;
    margin-top: -16px;
}

.type {
    border: none;
    width: 300px;
    min-height: 217px;
    padding: 0;
    margin: 0;
}

.type ul {
    list-style: none;
    margin: 0;
    margin-left: 70px;
    padding: 0;
}

.type legend {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    margin-left: 72px;
    margin-bottom: 24px;
    padding-top: 28px;
}

.filter fieldset:nth-child(2) {
    margin-left: -45px;
}

.type label {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.type li {
    margin-bottom: 23px;
    height: 23px;
    padding-left: 40px;
    
}

.filters {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 217px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: -1px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    width: 28px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
    opacity: 0.2;
}

.filter-option:hover {
    color: #ffffff;
}

.container-filter {
    width: 600px;
    height: 217px;
}

.form-filter {
    width: 328px;
    height: 185px;
    margin-left: auto;
    margin-right: 16px;
}

.form-filter p {
    margin-top: 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 10px;
}

.price-controls {
    position: relative;
    width: 314px;
    height: 35px;
    margin-bottom: 19px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 82px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    height: 21px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.min-price,
.max-price {
    margin-top: -3px;
}

.range-controls {
    position: relative;
    width: 317px;
    margin-bottom: 32px;
}
  
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
  
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
  
.range-toggle:hover {
    background-color: #ababab;
}
  
.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 85px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background-color: #ffffff;
}

.hotels ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hotels {
    width: 1200px;
    min-height: 458px;
}

.hotels-1 {
    width: 1200px;
    height: 149px;
}

.container-hotels {
    display: flex;
    width: 1200px;
    height: 151px;
}

.hotels-1  {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.colums {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    border-top: none;
    width: 270px;
}

.hotels h3,p {
    margin: 0;
    padding: 0;
}

.img-hotel-1 {
    margin-top: 29px;
    margin-left: 72px;
    margin-right: 30px;
}

.colums h3 {
    margin-bottom: 7px;
    margin-top: 2px;
    margin-left: 3px;
    cursor: pointer;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.colums a {
    color: #000000;
}

.colums a:hover {
    color: #81b3d2;
}

.colums a:focus {
    color: #cacaca;
}

.price {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.price p:nth-child(1) {
    display: block;
    width: 116px;
    margin-bottom: 10px;
}

.rating {
    position: relative;
    width: 690px;
    height: 122px;
    margin-top: 29px;
    border: none;
    text-align: right;
}
 
.stars {
    position: absolute;
    display: flex;
    right: 68px;
}

.stars li {
    border: none;
    margin-left: 6px;
} 

.rating p {
    position: absolute;
    top: 66px;
    right: 69px;
    width: 110px;
    height: 24px;
    text-align: center;
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.button-info {
    width: 110px;
    height: 27px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border: 1px transparent;
    margin-right: 3px;
}

.button-info:hover {
    background-color: #669ec0;
    cursor: pointer;
}

.button-info:focus {
    background-color: #5496bd;
    color: #94b9d2;
}

.button-booking a{
    width: 142px;
    height: 27px;
    padding: 5px 17px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
    
}

.button-booking a:hover {
    color: #ffffff;
    background-color: #604e43;
    cursor: pointer;
}

.button-booking a:focus {
    background-color: #503e33;
    color: #928a85; 
}

.results {
    width: 1200px;
    min-height: 87px;
    margin: 0;
    padding: 0;
}
.results-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 87px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 1000px;
    min-height: 87px;
    margin: 0;
    padding: 0;
}

.results-list h2 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.results-container p {
    display: block;
    margin: 0;
}

.results-list-button {
    border: 1px solid transparent;
    background: transparent;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.results-list li:nth-child(1) {
    margin-left: 72px;
    margin-top: 31px;
    margin-right: 49px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.results-list li:nth-child(2) {
    margin-top: 36px;
    margin-right: 31px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.results-list li:nth-child(3),
.results-list li:nth-child(4),
.results-list li:nth-child(5)  {
    width: 95px;
    margin-top: 35px;
    margin-right: -14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}    
.list-btn1 { 
    color: #81b3d2;
}

.list-btn2 {
    color: #dadada;
    border-bottom: 1px dotted #81b3d2;
}

.list-btn2:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.list-btn2:focus {
    color: #000000;
    outline: none;
    border: none;
}

.results-button {
  width: 200px;
  min-height: 87px;
  text-align: right;
  box-sizing: border-box;
}

.results-button button {
    
    border: none;
    background-color: #ffffff;
    color: #cacaca;
    padding: 0;
    margin-right: 7px;
    margin-top: 36px;
}

.results-button button:hover,
.results-button button:focus {
    background-color: #ffffff;
    cursor: pointer;
}

.results-button button:hover path {
    fill: #231f20;
}

.results-button button:focus path {
    fill: #81b3d2;
}

.results-button button:nth-child(2) {
    margin-right: 73px;
    margin-top: 35px;
}



