body {
    margin: 0px;
    padding: 0px;  

    font-family: "PT SANS", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
}
.logo-nav {
    text-align: center;
}

.block-nav {
    list-style: none;
}

.block-nav a {
    color: #000000;
    font-weight: bold;
}

.block-nav a:hover {
    color: #81b3d2;
}

.block-nav a:focus {
    color: #cacaca;
}

h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.sedona {
    text-align: center;
    background-image: url("img/background-photo.jpg");
    font-size: 14px;
    line-height: 26px;
}

.sedona-info {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
}

.city {
    width: 400px;
    height: 256px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
} 


.description {
    list-style: none;
    color: #000000;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    background-color: #ffffff;
}

.bridge-text {
    width: 400px;
    height: 256px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
}

.description .down {
    background-color: #eeeeee;
}

.description li {
    width: 400px;
    height: 256px;
    text-align: center;
}

.search {
    width: 1200px;
    height: 292px;
    text-align: center;
}

.button-search {
    width: 568px;
    height: 86px;
    background-color: #766357;
    color: #ffffff;
}

.button-search:hover {
    color: #604e43;
}
.button-search:focus {
    color: #503e33;
}

.date-arrival:hover {
    color: #ebebeb;
}

.date-arrival:focus {
    color: #ffffff;
}

.date-departure:hover {
    color: #ebebeb;
}

.date-departure:focus {
    color: #ffffff;
}






.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}





/*кнопки в форме поиска жилья*/
.svg-button {
    width: 38px;
    height: 38px;
}

/*перенести в отдельный файл css для каталога*/
.search-catalog {
    width: 314px;
    height: 32px;
    border: 2px solid #ffffff;
}

footer {
    display: inline-block;
    width: 1200px;
    height: 120px;
    vertical-align: middle;
}

.visit {
    display: inline-block;
    width: 400px;
    height: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;

}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
    width: 48px;
    height: 48px;
    background-color: #81b3d2;
}


.footer-copyright {
    text-align: center;
}



/*стили для страницы catalog*/

.hotels ul {
    list-style: none;
}

.hotels li {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.button-info {
    width: 110px;
    height: 27px;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
}

.button-info:hover {
    background-color: #669ec0;
}

.button-info:focus {
    background-color: #5496bd;
    color: 94b9d2;
}

.booking {
    width: 142px;
    height: 27px;
    text-align: center;
    color: #ffffff;
    background-color: #766357;
}
.booking a {
    color: #ffffff;
}

.booking:hover {
    background-color: #604e43;
}

.booking:focus {
    background-color: #503e33;
    color: #928a85; 
}


